body {
    margin: 0;
    padding: 0;
}

.ant-input-group-addon {
    padding-right: 0 !important;
}

.ant-tag {
    margin-right: 8px;
}

.ant-tag-close-icon {
    mix-blend-mode: difference;
}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
}

.task-list-header {
    padding-left: 10px;
    padding-top: 10px;
}
